<h1><%=link_to "View Plantations", {:controller => 'plantation', :action => 'list'}%></h1>
<h1><%=link_to "View Fruits", {:controller => 'fruit', :action => 'list'}%></h1>
<h1><%=link_to 'View Vegetables', {:controller => 'vegetable', :action => 'list'}%></h1>
