<% provide(:title, "About") %>

<h1> About </h1>
<p>
	Contact the Farmer's Narket Data Management System to know anything about this application and it's usage.
</p>

<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org/' %>
