<% if @plantation.errors.any? %>
	<div id ="error_explanation">
		<div class ="alert alert-danger">
			The form contains <%= pluralize(@plantation.errors.count, "error") %>.
		</div>
		<ul>
			<% @plantation.errors.full_messages.each do |msg| %>
			<li> <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>