<footer class = "footer">
	<small>
		The Farmer's Market Data Management System by Chandan Singh.
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contacts", contacts_path%></li>
		</ul>
	</nav>
</footer>